nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-links {
    margin: 20px;
    list-style: none;
    text-decoration: none;
    padding: auto;
    display: flex;
  justify-content: flex-end;
}

.nav-links li{
  display: inline-block;
  margin: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: ;
}

.logo {
  width: 100px;
}
#hero-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}


h1 {
  margin-bottom: 40px;
}
button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
 
}
#profile {
  border-radius: 50%;
  width: 243px;
  height: 243px;
}
#description {
  margin-right: 115px;
}
#oil {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#Making {
  padding: 25px;
  background-color: gold;
  margin: 0 20px 0 0;
  border-radius: 4px;
}
#Figma {
  padding: 25px;
  background-color: gold;
  margin: 0 20px 0 0;
  border-radius: 4px;
}
#post-heading {
  display: flex;
  justify-content: space-between;
  
}
#heading-parent {
  display: flex;
  justify-content: center;
}
#images {
  display: flex;
  border-radius: 6px;
  justify-content: center;
  margin-right: 18px;


}
img {
  padding: 20px;
  width: 246px;
  height: 180px;
  border-radius: 4px;
}
#Portraits {
  display: flex;
  border-radius: 6px;
  justify-content: center;
  margin-right: 18px;
}
#illustration {
  display: flex;
  border-radius: 6px;
  justify-content: center;
  margin-right: 18px;

}


#ada {
  margin-bottom: 40px;
}

#para {
  width: 608px;

}
#Days {
  width: 608px;
}
#footer {
  display: flex;
  justify-content: center;
  margin-top: 83px;

}
.foot {
  width: 50px;
  height: 50px;
}
#foe {
  text-align: center;
}
section {
  padding: 0 146px 0 146px;
}
#line {
  border-bottom: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 31px;
  gap: 35px 0;
}